@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html {
    font-family: "Montserrat", system-ui;;
    background-color: #e0e0e1;
    --BGCOLOR: rgb(250, 234, 201);
    --COLOR: #737375;
    --LINKCOLOR: rgb(85, 85, 85);
    --LINKFS: 12px;
}

.bgcolor {
    display: flex;
    flex-direction: column;
    background-image: url(/images/skincare2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    color: var(--LINKCOLOR);
    font-family: var(--FF);
    display: flex;
    justify-content: center;
    font-size: var(--LINKFS);
}

.header__width {
    margin: 0 20px;
    width: 700px;
    height: 48px;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

a:any-link {
    color: var(--COLOR);
    font-family: var(--FF);
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    list-style-type: none;
}

.background {
    display: flex;
    justify-content: center;
}

.hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 700px;
    margin: 20px;
}

.hero__heading {
    max-width: 60%;
    font-weight: 400;
    font-size: 30px;
    text-align: left;
    margin: 16px 0;
}

.hero__p {
    font-size: 16px;
    margin: 16px 0 20px 0;
    width: 60%;
}

.hero__button {
    padding: 8px;
    width: 100px;
    background-color: #542bb5;
    color: whitesmoke;
    border-style: none;
    border-radius: 6px;
}

.hero__material {
    display: flex;
    flex-direction: row nowrap;
    gap: 2rem;
    margin: 16px 0;
}

.hero__material h3 {
    font-size: 16px;
    opacity: 70%;
    margin: 8px 0;
}

.hero__material p {
    font-size: 12px;
    text-align: justify;
    max-width: 200px;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

.skincarecontainer {
    width: 700px;
}

.skincare {
    display: flex;
    flex-direction: row wrap;
    gap: 3rem;
    margin: auto;
    height: 300px;
    justify-items: center;
   justify-content: center;
   align-items: center;
   align-content: center;
   margin-top: 40px;
}

.skincare1, .skincare2, .skincare3 {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    text-align: center;
    place-content: center;
    justify-content: center;
}

.skincare1 h3, .skincare2 h3, .skincare3 h3 {
    font-weight: 500;
    margin-top: 8px;
}

.skincare1 a, .skincare2 a, .skincare3 a {
    font-weight: 400;
    color: #542bb5;
    font-size: 14px;
}

.whychoose {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 250px;
    margin: auto;
    max-width: 700px;
    justify-content: center;
    
}

.whychooseoption {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 2rem;
}

.whychooseoption p {
    font-size: 14px;
    opacity: 60%;
    padding: 4px;
}

.whychooseoption h3 {
    font-size: 16px;
    opacity: 60%;
    padding: 4px;
}

.whychoose h2 {
    opacity: 70%;
}

.delivery, .organic, .sideffect {
    background-color: rgba(125, 75, 231, 0.144);
    border-radius: 8px;
    padding: 12px;
}

footer {
    background-color: #542bb5;
    color: whitesmoke;
    font-size: 12px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter {
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 32px;
    height: 200px;
    background-color: #ffffff8d;
    border-radius: 16px;
}

.newsletter h2 {
    opacity: 70%;
}

form, button, input {
    font: inherit;
}

input {
    padding: 5px 32px;
    border-radius: 8px;
    border-style: none;
    font-size: 12px;
    text-align: left;
}

button {
    padding: 4px 12px;
    margin: 16px;
    font-size: 12px;
    border-radius: 6px;
    border-width: 1px;
    background-color: #542bb5;
    color: whitesmoke;
}